<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <%= link_to "Finance Tracker", root_path, class: "navbar-brand", id: "logo" %>
    <% if current_user %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav col-md-6">
          <li><%= link_to "Search Stocks", my_portfolio_path  %></li>
          <li><%= link_to "Find Friends", my_friends_path %></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i>
              <%= current_user.full_name.present? ? current_user.full_name : current_user.email %><span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdownText">
              <li><%= link_to "Edit Profile", edit_registration_path(current_user) %></li>
              <li><%= link_to "View Profile", my_profile_path %></li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to "<i class='fa fa-sign-out'> Log Out</i>".html_safe, destroy_user_session_path, method: :delete %></li>
              </li>
            </ul>
          </li>
      </ul>
      </div>
  </div>
  <% end %>
</div>